.header__lang-link {
  text-decoration: none;
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 20px;
  /* identical to box height, or 111% */
  text-align: right;
  color: #ffffff;
}
.header__lang-link:first-of-type {
  text-decoration: underline;
  margin-right: 16px;
}
