.place__title {
  display: block;
  margin: 0;
  font-family: "Inter";
  font-style: normal;
  font-weight: 900;
  font-size: 32px;
  line-height: 35px;
  /* identical to box height, or 109% */

  color: #ffffff;
}

@media screen and (min-width: 1280px) {
  .place__title {
    font-size: 72px;
    line-height: 76px;
    /* or 106% */
    max-width: 460px;
    width: 100%;
    padding-right: 40px;
  }
}
