.intro__list {
  margin: 0;
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.5;
  color: #ffffff;
  list-style-type: none;
}

.intro__list:last-of-type {
  padding-bottom: 64px;
}

@media screen and (min-width: 767px) {
  .intro__list:last-of-type {
    padding-bottom: 88px;
  }
}

@media screen and (min-width: 1023px) {
  .intro__list:last-of-type {
    padding-bottom: 92px;
  }
}
