.place__paragraphs {
  margin: 0;
  padding-top: 32px;
  max-width: calc(100vw - 10%);
  width: 100%;
}

@media screen and (min-width: 767px) {
  .place__paragraphs {
    padding-top: 48px;
  }
}
@media screen and (min-width: 1279px) {
  .place__paragraphs {
    grid-area: paragraphs;
  }
}
