.lead__title {
  margin: 0;
  max-width: 288px;
  padding-top: 48px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 900;
  font-size: 40px;
  line-height: 1.1;
  text-align: center;
  color: #ffffff;
}

@media screen and (min-width: 767px) {
  .lead__title {
    max-width: 720px;
    font-size: 96px;
    line-height: 100px;
    /* or 104% */
  }
}

@media screen and (min-width: 1279px) {
  .lead__title {
    padding-top: 56px;
  }
}
