.place__anounce {
  max-width: calc(100vw - 10%);
  width: 100%;
  display: flex;
  flex-direction: column;
}

@media screen and (min-width: 1280px) {
  .place__anounce {
    flex-direction: row;
  }
}
