@import url(https://necolas.github.io/normalize.css/8.0.1/normalize.css);
@import url(../vendor/fonts/Inter/inter.css);

@import url(../blocks/page/page.css);

@import url(../blocks/header/header.css);
@import url(../blocks/header/__logo/header__logo.css);
@import url(../blocks/header/__lang/header__lang.css);
@import url(../blocks/header/__lang-link/header__lang-link.css);

@import url(../blocks/lead/lead.css);
@import url(../blocks/lead/__title/lead__title.css);
@import url(../blocks/lead/__subtitle/lead__subtitle.css);
@import url(../blocks/lead/__image/lead__image.css);
@import url(../blocks/lead/__caption/lead__caption.css);

@import url(../blocks/intro/intro.css);
@import url(../blocks/intro/__title/intro__title.css);
@import url(../blocks/intro/__text/intro__text.css);
@import url(../blocks/intro/__list/intro__list.css);

@import url(../blocks/photo-grid/photo-grid.css);
@import url(../blocks/photo-grid/__item/photo-grid__item.css);

.places {
  padding-top: 64px;
  display: flex;
  flex-direction: column;
}

.place {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 50px;
}

.place:last-of-type {
  padding-bottom: 0;
}

.place__image {
  max-width: 100%;
  object-fit: contain;
  padding-top: 32px;
}

.place__link-url {
  display: block;
  margin: 0;
  padding-top: 32px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 12px;
  /* identical to box height, or 100% */

  letter-spacing: 2px;

  color: #aaaaaa;
}

.place__link {
  display: block;
  padding-top: 12px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  /* identical to box height, or 122% */

  text-decoration-line: underline;

  color: #ffffff;
}

.place__anounce {
  max-width: calc(100vw - 10%);
  width: 100%;
  display: flex;
  flex-direction: column;
}
.place__title {
  display: block;
  margin: 0;
  font-family: "Inter";
  font-style: normal;
  font-weight: 900;
  font-size: 32px;
  line-height: 35px;
  /* identical to box height, or 109% */

  color: #ffffff;
}

.place__content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.place__paragraph {
  margin: 0;
  padding-top: 32px;
  max-width: calc(100vw - 10%);
  width: 100%;
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 163%;
  /* or 26px */

  color: #ffffff;
}

.place__paragraph:nth-of-type(2) {
  padding-top: 25px;
}

/*.footer {
  display: flex;
  justify-content: space-between;
  padding: 0 48px 24px 48px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;

}

.footer__links {
  display: flex;
  gap: 18px;
}

.footer__link {
  text-decoration: none;
  color: #ffffff;
}

.footer__link:hover {
  opacity: 0.7;
  transition: 0.3s;
}

.footer__copyright {
  margin: 0;
  color: #ffffff;
}*/
