.place__website {
  margin: 0;
  padding-top: 32px;
  max-width: calc(100vw - 10%);
  width: 100%;
  align-self: end;
}

@media screen and (min-width: 767px) {
  .place__website {
    padding-top: 0;
  }
}
